p User : #{all_user_data["user_id"]} 
p Date joined: #{all_user_data["date_joined"]}


/ input type="button" value="Edit" 
/ / button to switch modes 

/ / this form is specifically for editing and not the main 
/ form action="/profile/edit" method="post" class="Profile_form"
/     div class="Profile_info_wrapper"
/          div class="Profile_container_form"
/                 div class="Profile_info_user_id"
/                     label for="mail" class="bold" Mail
/                     input type="text" id="mail" name="mail" placeholder=""
/                 div 
/                     lable for="password" class="bold" Password
/                     input type="text" id="password" name="password" 
/                     input type="button" value="submit"

a href="/logout" Log out 
